body {
  background-color: black;
  background: url('/public/images/papel-de-parede-de-quadrinhos-amarelos-de-design-plano_23-2148801759.avif') no-repeat center center fixed;
  background-size: cover;
}

.containerLogo, .containerFundo {
  display: flex;
  justify-content: center;  
  align-items: center;
  flex-direction: column;  
}

.containerFundo{
  flex-direction: row;
}

.logoPokemon {
  width: 50%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative;
  top: -30px;
}

.fundoPokemonEsquerda{
  width: 25%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-right: 10px;
}

.fundoPokemonDireita{
  width: 30%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-left: 10px;
}

.botao {
  background-color: #FFCB05;
  border: 2px solid #316AB2;
  color: #316AB2;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-family: "VT323", monospace;
}

.containerBotao {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 10%;
}

.botaoOutroCard {
  padding: 5px 40px;
  font-size: 24px;
  letter-spacing: 1px;
}

.botaoModoDark {
  padding: 5px 10px;
  font-size: 30px;
  position: relative;
  top: 100px;
  left: 90px;
  letter-spacing: 2px;
}

.botaoVoltar{
  padding: 5px 40px;
  font-size: 35px;
  position: relative;
  right: 40%;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

.botaoVerMais{
  padding: 5px 40px;
  font-size: 24px;
  margin-top: 20px;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .fundoPokemonEsquerda{
    margin-right: 0;
  }

  .fundoPokemonDireita{
    margin-left: 0;
  }

  .botaoModoDark {
    position: relative;
    top: 0;
    left: 0;
  }

  .botaoVoltar{
    margin-bottom: 0;
  }
}

@media (max-width: 426px) {
  .botao {
    padding: 5px 20px;
    font-size: 20px;
  }

  .botaoOutroCard {
    padding: 5px 20px;
    font-size: 20px;
  }

  .botaoModoDark {
    padding: 5px 10px;
    font-size: 20px;
    position: relative;
    top: 42px;
    letter-spacing: 2px;
  }

  .botaoVoltar{
    padding: 5px 20px;
    font-size: 20px;
    position: relative;
    right: 40%;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }

  .botaoVerMais{
    padding: 5px 20px;
    font-size: 20px;
    margin-top: 20px;
    letter-spacing: 2px;
  }

  .containerBotao {
    margin-right: 0;
  }

  .containerFundo {
    flex-direction: column;
  }

  .logoPokemon {
    width: 80%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    top: -30px;
  }

  .fundoPokemonEsquerda{
    width: 35%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-right: 0;
  }

  .fundoPokemonDireita{
    width: 60%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: 0;
  }
}